<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 在IoC容器启动时，会自动由Spring实例化Apple对象，取名sweetApple 放入到容器中 -->
    <bean id="sweetApple" class="DevelopmentFrameWork.Spring.IoC.Entity.Apple">
        <property name="title" value="红富士"></property>
        <property name="color" value="红色"></property>
        <property name="origin" value="欧洲"></property>
    </bean>

    <bean id="sourApple" class="DevelopmentFrameWork.Spring.IoC.Entity.Apple">
        <property name="title" value="青苹果"></property>
        <property name="color" value="绿色"></property>
        <property name="origin" value="中亚"></property>
    </bean>

    <bean id="softApple" class="DevelopmentFrameWork.Spring.IoC.Entity.Apple">
        <!-- IoC容器利用反射机制，运行时自动使用setter方法为属性赋值 -->
        <property name="title" value="金帅"></property>
        <property name="color" value="黄色"></property>
        <property name="origin" value="中国"></property>
    </bean>

    <bean id="lily" class="DevelopmentFrameWork.Spring.IoC.Entity.Child">
        <property name="name" value="Lily"></property>
        <property name="apple" ref="sweetApple"></property>
    </bean>

    <bean id="andy" class="DevelopmentFrameWork.Spring.IoC.Entity.Child">
        <property name="name" value="Andy"></property>
        <property name="apple" ref="sourApple"></property>
    </bean>

    <bean id="luna" class="DevelopmentFrameWork.Spring.IoC.Entity.Child">
        <property name="name" value="Luna"></property>
        <property name="apple" ref="softApple"></property>
    </bean>

    <!-- 利用构造方法参数名实例化 -->
    <bean id="sweetApple1" class="DevelopmentFrameWork.Spring.IoC.Entity.Apple">
        <!-- 没有constructor-arg 代表调用默认构造方法实例化-->
        <constructor-arg name="title" value="红富士1"/>
        <constructor-arg name="color" value="红色1"/>
        <constructor-arg name="origin" value="欧洲1"/>
    </bean>

    <bean id="sweetApple2" class="DevelopmentFrameWork.Spring.IoC.Entity.Apple">
        <!-- 没有constructor-arg 代表调用默认构造方法实例化-->
        <!-- 参数的位置 -->
        <constructor-arg index="0" value="红富士2"/>
        <constructor-arg index="1" value="红色2"/>
        <constructor-arg index="2" value="欧洲2"/>
    </bean>

    <!--自动调整参数个数 -->
    <bean id="sweetApple3" class="DevelopmentFrameWork.Spring.IoC.Entity.Apple">
        <!-- 没有constructor-arg 代表调用默认构造方法实例化-->
        <constructor-arg name="title" value="红富士1"/>
        <constructor-arg name="color" value="红色1"/>
        <constructor-arg name="origin" value="欧洲1"/>
        <constructor-arg name="price" value="19.8"/>
    </bean>

    <bean id="sweetApple4" class="DevelopmentFrameWork.Spring.IoC.Entity.Apple">
        <!-- 没有constructor-arg 代表调用默认构造方法实例化-->
        <!-- 参数的位置 -->
        <constructor-arg index="0" value="红富士2"/>
        <constructor-arg index="1" value="红色2"/>
        <constructor-arg index="2" value="欧洲2"/>
        <constructor-arg index="3" value="19.8"/>
    </bean>

    <bean id="sweetApple5" class="DevelopmentFrameWork.Spring.IoC.Factory.AppleStaticFactory"
        factory-method="createSweetApple">
    </bean>

    <!-- 先实例化实例化工厂的对象 -->
    <bean id="factoryInstance" class="DevelopmentFrameWork.Spring.IoC.Factory.AppleFactoryInstance"/>
    <bean id="sweetApple6" factory-bean="factoryInstance" factory-method="createSweetApple"/>


    <!-- 没有name的bean -->
    <bean class="DevelopmentFrameWork.Spring.IoC.Entity.Apple">

    </bean>

    <!-- 插入集合 -->
    <bean id="c1" class="DevelopmentFrameWork.Spring.IoC.Entity.Computer">
        <constructor-arg name="brand" value="联想"></constructor-arg>
        <constructor-arg name="type" value="台式机"></constructor-arg>
        <constructor-arg name="sn" value="8282943029"></constructor-arg>
        <constructor-arg name="price" value="3850"></constructor-arg>
    </bean>

    <bean id="company" class="DevelopmentFrameWork.Spring.IoC.Entity.Company">
        <property name="rooms">
            <list>
                <value>2001-总裁办</value>
                <value>2003-总经理办公室</value>
                <value>2010-研发部会议室</value>
            </list>
        </property>
        <property name="computers">
            <map>
                <entry key="dev-88172" value-ref="c1"/>
                <entry key="dev-88173">
                    <bean class="DevelopmentFrameWork.Spring.IoC.Entity.Computer">
                        <constructor-arg name="brand" value="联想"/>
                        <constructor-arg name="type" value="笔记本"/>
                        <constructor-arg name="sn" value="9214801948"/>
                        <constructor-arg name="price" value="5060"/>
                    </bean>
                </entry>
            </map>
        </property>
        <property name="info">
            <props>
                <prop key="phone">010-23456699</prop>
                <prop key="address">北京市朝阳区西澳大厦</prop>
                <prop key="website">http://www.baidu.com</prop>
            </props>
        </property>
    </bean>

    <bean id="userDao" class="DevelopmentFrameWork.Spring.IoC.dao.UserDao" scope="prototype"></bean>

    <bean id="userService" class="DevelopmentFrameWork.Spring.IoC.service.UserService">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="order1" class="DevelopmentFrameWork.Spring.IoC.Entity.Order" init-method="init" destroy-method="destroy">
        <property name="price" value="19.8"></property>
        <property name="quantity" value="1000"/>
    </bean>
</beans>